/* TODO Something breaks styles on home page */
:root {
  --box-size: 250px;
  --gray: #9aa0a6;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#webcam-wrapper {
  width: var(--box-size);
  height: var(--box-size);
  margin: 2em;
}
#webcam-wrapper > video {
  display: none;
}

/* TODO: change loader to vuetify */

#webcam-pose-canvas {
  width: var(--box-size);
  height: var(--box-size);
  background-color: #9aa0a6;
  border-radius: 16px;
}
#webcam {
  width: var(--box-size);
  height: var(--box-size);
  transform: rotateY(180deg);
}

#graph-wrapper > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
#graph-wrapper > div > * {
  display: inline-block;
  margin: 0 8px;
  text-align: left;
  width: 82px;
  flex-grow: 1;
}
#graph-wrapper > div > :first-child {
  text-align: right;
}
#graph-wrapper > div > progress {
  -webkit-appearance: none;
  max-width: var(--box-size);
  /* TODO: dynamic adjusted width */
  appearance: none;
  height: 28px;
}
#graph-wrapper > div > progress::-webkit-progress-bar {
  border-radius: 4px;
  background-color: var(--color-light);
  border: 1px solid var(--color);
}
#graph-wrapper > div > progress::-webkit-progress-value {
  border-radius: 2px;
  background-color: var(--color);
}
footer {
  width: 100%;
  text-align: right;
  padding: 25px;
}
footer * {
  color: var(--gray);
  text-align: right;
}
